.home-search {
  color: gray;

  & .search-button button {
    height: 3em;
  }

  & .try {
    font-size: 1.5em;
    margin: 2em 0 1.5em;
    padding-top: 1em;
    text-align: center;
  }

  & .example-row {
    font-size: 1.3em;
  }

  & .example-name {
    border-style: dotted;
    border-width: 0 0 1px 1px;
    margin: 0 1em 1em 1em;
    padding-right: 1em;
    text-align: left;

    @media (min-width: 768px) {
      border-width: 0 1px 0 0;
      margin: 0 1em 0 0;
      text-align: right;
    }
  }

  & .example-hint {
    color: #444;

    & p {
      line-height: 1.4;
      margin-bottom: 1em;
    }
  }
}
